/*  
    Part of:
	Elements.css Library (c) Paul Cyril 2019. Created 06/11/2019
	V 2.0A for Free Fall
    Use with Elements.js (Paul Cyril 2019). Refer to Elements.js 2.0 Original for original version.
*/

:root {
    --Background: black;
    --Primary: darkblue;
    --PrimaryTint: rgba(0, 0, 139, 0.3);
    --Secondary: rgb(0, 205, 212);
    --SecondaryTint: rgba(0, 205, 212, 0.2);
    --Foreground: white;
}

/* ----- Page format ----- */

html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding-top: 2em;
    background: var(--Background);
    color: var(--Foreground);
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;
}

article {
    background: var(--PrimaryTint);
    padding: 1em;
}

a {
    color: var(--Foreground);
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-weight: normal;
    font-size: 1.8em;
}

img {
    width: 100%;
    height: auto;
}

/* Parrallax, Caption, Legacy (SouthAusMarine) Animated Title/Subtitle and Referencing removed. For original refer to elements.css original */

div.Title.InsertOver {
    font-size: calc(2em + 4vw);
    margin: 10vw;
    width: 50%;
    transition: opacity 0.5s, margin, 1.2s ease-in-out;
}

div.Title.InsertOver:hover {
    opacity: 0.2;
    margin-left: 2vw;
    margin-right: 18vw;
}

/* ----- Navigation Formatting Footer ----- */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
    z-index: 4;
}

nav:hover {
    opacity: 1;
}

nav>div {
    width: 100%;
    height: 2em;
    background: var(--Primary);
    display: flex;
    transition: height 0.5s ease-out;
}

nav>div:hover {
    height: 2.5em;
}

nav>div div {
    display: flex;
    flex-direction: column;
}

nav>div div>a, a.NavStyle {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: var(--Primary);
    opacity: 0;
    font-size: 18px;
    height: 100%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    transition: opacity 0.5s, padding 0.4s ease-out, margin 0.4s ease-out, background 0.3s;
}

nav>div div>a:first-child, a.NavStyle, nav>div div.active>a{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: none;
    opacity: 0.9;
}

a.NavStyle {
    opacity: 0.9;
    height: 32px;
    display: inline-block;
    background: var(--Primary);
}

nav>div:hover>div>a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav>div>div:first-child>a {
    padding-left: 1rem;
}

nav>div div.active {
    flex-direction: row;
}

nav>div div.active, nav>div div>a.active {
    opacity: 1;
    background: var(--SecondaryTint);
}

nav>div>div:hover>a {
    opacity: 1;
}

nav>div>div>a:hover, a.NavStyle:hover {
    background: var(--Secondary);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

/* ----- Footer ----- */

footer {
    padding: 48px 0px;
}